---
import { getCollection } from 'astro:content';

import Main from '../../layouts/main.astro';
import Aside from '../../components/aside.astro';
import ProfileCard from '../../components/profile-card.astro';
import { formatDate } from '../../utils/format-date';

export const prerender = true;

export async function getStaticPaths() {
  const articles = await getCollection('articles');

  return articles.map((article) => {
    return {
      params: {
        slug: article.slug,
      },
      props: {
        article,
      },
    };
  });
}

const {
  article,
  article: {
    slug,
    data: { title, date },
  },
} = Astro.props;

const { Content } = await article.render();
---

<Main title={title} description='' slug={`/articles/${slug}/`}>
  <time class='text-xs font-bold text-brand-primary'>{formatDate(date)}</time>
  <h1>{title}</h1>
  <Content />
  <Aside>
    <ProfileCard />
  </Aside>
</Main>
