---
import { getCollection } from 'astro:content';

import Main from '../../layouts/main.astro';
import { formatDate } from '../../utils/format-date';

export const prerender = true;

export async function getStaticPaths() {
  const demos = await getCollection('demos');

  return demos.map((demo) => {
    return {
      params: {
        slug: demo.slug,
      },
      props: {
        demo,
      },
    };
  });
}

const {
  demo,
  demo: {
    data: { title, date },
  },
} = Astro.props;

const { Content } = await demo.render();
---

<Main>
  <time class='text-xs font-bold text-brand-primary'>{formatDate(date)}</time>
  <h1>{title}</h1>
  <Content />
</Main>
