---
import Main from '../layouts/main.astro';
import Aside from '../components/aside.astro';
import ProfileCard from '../components/profile-card.astro';

import { Vimeo, YouTube } from 'astro-embed';
---

<Main title='About' description='A little bit more about me' slug='/about/'>
  <strong class='text-sm text-brand-primary'>About</strong>
  <h1 class='mb-0'>More about me</h1>
  <p>Hey there! 👋</p>
  <p>
    I'm Paul and a long long time ago I was a Designer, but after a few years of pixel-pushing, I realized code is just
    better. I've held various positions in and around Advertising, Tech and Product Development in both full-time, and
    freelance positions since 2005.
  </p>
  <p>
    I once co-founded and ran an award winning digital production agency based in London called<a
      href='https://vimeo.com/109836047'
      target='_blank'
      rel='noopener'
    >
      super natural
    </a>. I started the company from my kitchen and grew it to a team of 10. From 2012 to 2016 I was hands-on
    designer/developer, and Technical Director / CTO.
  </p>
  <Vimeo id='109836047' />

  <h2>Then</h2>

  <p>
    Back in 2005 after graduating Leeds Metropolitan University with 1st Class honours in MultiMedia technology I got my
    first job for a little design and development studio called ward404.
  </p>

  <p>
    Our main projects were building eCards for record labels such as EMI, Warner and Virgin Records, we'd take album
    artwork and design and build Flash micro-sites to help promote album or single sales. These micro-sites would
    typically involve an intro animation and showcase a 30 second video trailer and an audio preview player.
  </p>

  <p>
    A little while later Rich Media burst on to the scene so we transferred all of our learnings from micro-sites over
    to Rich Media advertisements.
  </p>

  <p>
    This shift in design and development landed me a job in advertising and I worked for Play (M&C Saatchi) from 2008
    where I continued to design and develop Flash Rich Media campaigns and picked up multiple awards for my work...
    including a <a
      href='https://www.dandad.org/awards/professional/2010/graphic-design/17943/one-in-seven/'
      target='_blank'
      rel='noopener'>D&AD</a
    > for an interactive <i>out of home</i> sound driven animation to promote
    <a href='https://rnid.org.uk/' target='_blank' rel='noopener'>RNID</a>. During this period I received a promotion
    and managed my first team of two.
  </p>

  <p>
    including CHI & Partners, RKCRY&R and BBH to name a few. I then started a contract with TBMWA (MAL) which is Apple's
    creative agency... naturally they couldn't use Flash for their online campaigns so we developed HTML / JavaScript
    and later CSS animation libraries and methods to bring animation to the iPhone.
  </p>

  <p>
    In 2012 spotting a gap in the market for HTML Rich Media campaigns I started Super natural from kitchen. Six months
    in and i was snowed under with work so teamed up with ex-play colleague Jon Bezalel. Together we grew the company
    from a team of two, to a team of ten and continued to work with top London creative agencies and clients including
    Channel 4's 4Creative, ITV Creative, Netflix and adam&eve among others.
  </p>

  <p>
    We developed engaging and delightful online campaigns and micro-sites, and picked up a few awards along the way
    including a <b>BAFTA</b> for our
    <a
      href='http://www.bafta.org/sites/default/files/uploads/baftatvcraft1516winnerslist.pdf'
      target='_blank'
      rel='noopener'
      >Digital Creativity
    </a>
    work on Channel 4's Humans.
  </p>

  <p>
    During this time I was a hands on designer, developer and oversaw all creative and technical output, trained and
    mentored members of the creative teams and engaged with clients to develop creative ideas.
  </p>

  <YouTube id='ts93lp5JoRA' />

  <p>
    In 2016 I felt the time was right to move on and with the rise of JavaScript frameworks I decided to take a leap
    into React application development.
  </p>

  <h2>Now</h2>

  <p>
    For many years I contracted as a Component Library and Design System specialist, my love of Design transferred well
    from my creative past into modern day web application development (where everything looks like Material Design), and
    my background in Flash / ActionScript meant adopting modern JavaScript was a breeze.
  </p>

  <p>
    In 2018 I discovered <a href='https://www.gatsbyjs.com/' target='_blank' rel='noopener'>Gatsby</a> and immediately fell
    in love with the developer experience and feel it's a brilliant middle ground between using a framework like React and
    brining back some of that internet joy we lost when websites became <i>web applications</i>
  </p>

  <p>
    I'm pretty active in Open-source and everything I've done can be found on my GitHub: <a
      href='https://github.com/PaulieScanlon'
      target='_blank'
      rel='noopener'>https://github.com/PaulieScanlon</a
    >
  </p>

  <p>
    From 2020 onwards I've become increasingly interested in technical writing and have had multiple articles published
    on well known publications such as
    <a href='https://www.smashingmagazine.com/author/paul-scanlon/' target='_blank' rel='noopener'>
      Smashing Magazine
    </a>,
    <a href='https://css-tricks.com/roll-your-own-comments-with-gatsby-and-faunadb/' target='_blank' rel='noopener'>
      CSS-Tricks
    </a>
    and
    <a href='https://thenewstack.io/author/paulscanlon/' target='_blank' rel='noopener'> The New Stack</a>
  </p>

  <p>
    My work at
    <a href='https://www.gatsbyjs.com/' target='_blank' rel='noopener'> Gatsby</a>
    combined my love of creativity from the past and fuses it with technology from the present to create hard hitting, educational,
    promotional and some say _sensational_ product demos which drove product adoption and growth.
  </p>

  <p>
    My work at
    <a href='https://www.cockroachlabs.com/' target='_blank' rel='noopener'> Cockroach Labs</a> allowed me to continue using
    everything i've learnt over the years and combine it with the new stuff.
  </p>

  <p>
    I continued to hone my skills while working at
    <a href='https://bit.ly/paulie-neon' target='_blank' rel='noopener'> Neon</a>, and I'm now more confident than ever
    that I'm able to use everything I've learned from both sides of the stack to become an <a
      href='/independent-advocate/'>Independent Advocate</a
    >
  </p>

  <p>
    I'm a huge fan of process and have worked with some really great developers in some very well organized engineering
    teams. For balance, I've also worked on teams that weren't so organized — but I still get the job done!
  </p>

  <p>but...</p>

  <span class='text-brand-text'>After all is said and done,</span>

  <span class='text-brand-primary'> structure</span>
  <span> +</span>
  <span class='text-brand-secondary'> order</span>
  <span> =</span>
  <span class='text-brand-tertiary'> fun</span>

  <Aside>
    <ProfileCard />
  </Aside>
</Main>
