---
import Main from '../layouts/main.astro';
import Aside from '../components/aside.astro';
import ProfileCard from '../components/profile-card.astro';
import { getCollection } from 'astro:content';
import CollectionsList from '../components/collections-list.astro';

const articles = await getCollection('articles');
---

<Main>
  <strong class='text-xs text-brand-primary'>Articles</strong>
  <h1 class='mb-0'>External Publishers</h1>
  <p>
    Articles I've written for various publications including:
    <a
      href='https://thenewstack.io/author/paulscanlon/'
      target='_blank'
      rel='noopener'>The New Stack</a
    >,
    <a
      href='https://www.smashingmagazine.com/author/paul-scanlon/'
      target='_blank'
      rel='noopener'
    >
      Smashing Magazine</a
    >
     and
    <a href='https://css-tricks.com/' target='_blank' rel='noopener'>
      CSS Tricks</a
    >.
  </p>
  <CollectionsList collections={articles} base='/articles' />
  <Aside>
    <ProfileCard />
  </Aside>
</Main>
