---
import { sql } from '../neon';
import Main from '../layouts/main.astro';
import Aside from '../components/aside.astro';
import ProfileCard from '../components/profile-card.astro';
import LineChartYears from '../components/line-chart-years.astro';
import ListExternalPublishers from '../components/list-external-publishers.astro';
import ListTopTenCities from '../components/list-top-ten-cities.astro';
import GlobeAllCities from '../components/globe-all-cities';

import { getCollection } from 'astro:content';

const articles = await getCollection('articles');
const demos = await getCollection('demos');
const opensource = await getCollection('opensource');
const posts = await getCollection('posts');
const streams = await getCollection('streams');

const collections = [...articles, ...demos, ...opensource, ...posts, ...streams];

const cities = await sql`
  SELECT latitude, longitude, COUNT(city) AS total
  FROM analytics
  WHERE date >= NOW() - INTERVAL '30 days'
  GROUP BY latitude, longitude
  ORDER BY total DESC;
`;
---

<Main title='Dashboard' description='Statistics and analytics about my work' slug='/dashboard/'>
  <strong class='text-xs text-brand-primary'>Dashboard</strong>
  <h1 class='mb-0'>Built-in Analytics</h1>
  <p>Data visualization created using data sourced from local MDX files and a Neon database.</p>
  <div class='grid gap-24 min-w-full'>
    <section>
      <h2 class='m-0 text-2xl uppercase text-salmon'>Year and Month</h2>
      <p class='mt-0 mb-4 text-slate-300 text-base'>Total published content.</p>
      <LineChartYears collections={collections} />
    </section>

    <section>
      <h2 class='m-0 text-2xl uppercase text-salmon'>Total by publisher</h2>
      <p class='mt-0 mb-4 text-slate-300 text-base'>All external publishers.</p>
      <ListExternalPublishers />
    </section>

    <div class='flex flex-col lg:flex-row gap-8 overflow-hidden'>
      <section class='w-full lg:w-1/2'>
        <div class='flex flex-col'>
          <h2 class='m-0 text-2xl uppercase text-salmon'>Total by City</h2>
          <p class='mt-0 mb-4 text-slate-300 text-base'>Top ten city visits.</p>
          <ListTopTenCities />
        </div>
        <div class='mt-2 leading-tight'>
          <div class='leading-tight'>
            <small class='text-slate-400 text-xs'>Powered by{' '}</small>
            <a href='https://neon.tech/' target='_blank' rel='noreferrer' class='text-xs'>Neon</a>
          </div>
          <time class='block text-slate-400 text-xs'>Totals from last 30 Days</time>
        </div>
      </section>
      <section class='w-full lg:w-1/2'>
        <h2 class='m-0 text-2xl uppercase text-salmon'>Geolocation</h2>
        <p class='mt-0 mb-4 text-slate-300 text-base'>All city visits.</p>
        <GlobeAllCities client:only data={cities} />
        <div class='mt-2 leading-tight'>
          <div class='leading-tight'>
            <small class='text-slate-400 text-xs'>Powered by{' '}</small>
            <a href='https://neon.tech/' target='_blank' rel='noreferrer' class='text-xs'>Neon</a>
          </div>
          <time class='block text-slate-400 text-xs'>Locations from last 30 Days</time>
        </div>
      </section>
    </div>
  </div>
  <Aside>
    <ProfileCard />
  </Aside>
</Main>
