---
export const prerender = true;

import Main from '../layouts/main.astro';
import Aside from '../components/aside.astro';
import ProfileCard from '../components/profile-card.astro';

import CollectionsList from '../components/collections-list.astro';

import { getCollection } from 'astro:content';

const ghosts = await getCollection('ghosts');
---

<Main title='Ghosts' description="Articles I've written for clients... and the World will never know" slug='/ghosts/'>
  <strong class='flex items-center justify-between gap-2 text-sm text-brand-primary'
    >Ghosts
    <span class='text-inherit text-xs border border-brand-outline bg-surface px-2 py-1'>{`x${ghosts.length}`}</span>
  </strong>
  <h1 class='mb-0'>Ghostwriting</h1>
  <p>
    Articles I've written... and the World will never know. <span role='img' aria-label='Pensive Face'>😔</span>
  </p>
  <CollectionsList collections={ghosts} />
  <Aside>
    <ProfileCard />
  </Aside>
</Main>
