---
export const prerender = true;

import Main from '../layouts/main.astro';

import Aside from '../components/aside.astro';
import ProfileCard from '../components/profile-card.astro';
import CollectionsList from '../components/collections-list.astro';
import CtaInternal from '../components/cta-internal.astro';

const content = await fetch(`${import.meta.env.SITE}/all-content.json`);

const { demos, articles, posts } = await content.json();
---

<Main title='Home' description="Paul Scanlon's blog" slug='/'>
  <strong class='text-sm text-brand-primary'>Home</strong>
  <h1 class='text-brand-text text-3xl sm:text-5xl mb-1'>Paul Scanlon</h1>
  <h2 class='text-brand-text font-semibold mt-1'>Independent Advocate (Freelance)</h2>
  <p>
    I sit somewhere between Product Marketing and Developer Advocacy. I specialize in the creation of high-quality
    technical content for <span class='text-brand-secondary'>educational</span> and <span class='text-brand-tertiary'
      >promotional</span
    >
    purposes.
  </p>

  <p>
    I've been involved with the web for <b>~20 years</b>, the last 5 of which have been documented in punishing detail
    here on my site. You can read more about my services on the following page: <a href='/independent-advocate/'
      >Independent Advocate</a
    >
  </p>

  <p>
    Or, just hire me! <span role='img' aria-label='Victory Hand'>✌️</span>
  </p>

  <CtaInternal href='/independent-advocate/' classNames='mt-8 mb-24 justify-start'>Hire me!</CtaInternal>

  <h2 class='mb-0 text-brand-salmon'>Latest Articles</h2>
  <p>Latest Articles written for external publishers.</p>
  <CollectionsList collections={articles} slice={5} />
  <CtaInternal href='/articles/'>See All Articles</CtaInternal>

  <h2 class='mb-0 text-brand-salmon'>Latest Posts</h2>
  <p>Latest Posts published here on my site.</p>
  <CollectionsList collections={posts} slice={5} />
  <CtaInternal href='/posts/'>See All Posts</CtaInternal>

  <h2 class='mb-0 text-brand-salmon'>Latest Demos</h2>
  <p>Product demonstration projects.</p>
  <CollectionsList collections={demos} slice={5} />
  <CtaInternal href='/demos/'>See All Demos</CtaInternal>

  <Aside>
    <ProfileCard />
  </Aside>
</Main>
