---
import Main from '../layouts/main.astro';
import Aside from '../components/aside.astro';
import ProfileCard from '../components/profile-card.astro';
import { getCollection } from 'astro:content';
import CollectionsList from '../components/collections-list.astro';

const posts = await getCollection('posts');
---

<Main title='Posts' description='Posts published on paulie.dev' slug='/posts/'>
  <strong class='text-xs text-brand-primary'>Posts</strong>
  <h1 class='mb-0'>Blog Posts</h1>
  <p>
    You'll find a mixed bag of content here. I'm mainly focussed on "How to"
    guides but every now and then I'll throw in a curve ball.
  </p>
  <CollectionsList collections={posts} base='/posts' />
  <Aside>
    <ProfileCard />
  </Aside>
</Main>
