---
export const prerender = true;

import Main from '../layouts/main.astro';
---

<Main title='Web Accessability' description='paulie.dev accessability statement' slug='/web-accessability'>
  <strong class='flex items-center justify-between gap-2 text-sm text-brand-primary'>Accessability Statement</strong>
  <h1>Web accessibility</h1>
  <p>
    Accessibility, diversity and inclusion are important values that affect everything we do. Whether you use a screen
    reader, voice recognition software or another kind of assistive technology, I'm doing my best to make it easy to
    navigate my site and find exactly what you need.
  </p>

  <h2>Accomplishing accessibility goals</h2>
  <p>
    I set my web accessibility standards high and work hard to achieve them. I'm dedicated to ensuring my site meets all
    current laws and guidelines - including the W3C WCAG 2.0 guidelines - and create a useable experience for all
    visitors.
  </p>
  <h2>Contact me</h2>
  <p>
    Although my evaluations and testing are ongoing, if at any time you have specific questions or concerns about the
    accessibility of any particular page, please contact me.
  </p>
</Main>
