---
const { href } = Astro.props;
---

<div class='flex items-center justify-center my-16'>
  <a
    href={href}
    target='_blank'
    rel='noreferrer'
    class='not-prose inline-flex text-brand-primary rounded border border-brand-primary no-underline px-4 py-2 transition-[opacity] duration-300 hover:opacity-75'
  >
    <slot />
  </a>
</div>
