---
import { sql } from '../neon';

const request = await sql`
  SELECT flag, country, city, COUNT(city) AS total
  FROM analytics
  GROUP BY flag, country, city
  ORDER BY total DESC
  LIMIT 10;`;
---

<ul class='m-0 border rounded border-brand-outline bg-brand-surface px-4 sm:px-6 sm:py-2'>
  {
    request.map((item) => {
      const { flag, city, total } = item;

      return (
        <li class='flex border-b border-b-brand-outline p-0'>
          <div class='flex grow items-center gap-2'>
            <span class='mt-1'>{flag}</span>
            <span>{city}</span>
          </div>
          <strong>{`x${total}`}</strong>
        </li>
      );
    })
  }
</ul>
