---
const { period = 30 } = Astro.props;
---

<div class='mt-4 leading-3'>
  <time class='block text-brand-muted text-xs'>{`Totals from last ${period} Days`}</time>
  <small class='text-brand-secondary text-xs'>Powered by{' '}</small>
  <a href='https://bit.ly/paulie-neon' target='_blank' rel='noopener' class='text-xs'>Neon</a>
</div>
